# Dependencies
node_modules/

# Next.js & build output
.next/
dist/
out/
build/

# TypeScript intermediate cache
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment
.env
.env.*

# Editors and OS
.vscode/
.idea/
.DS_Store
*.sw?

# Misc
coverage/

# ZVS
ZVS/lightwalletd/
ZVS/zebra/
ZVS/target/
