@import "tailwindcss";

/* Light theme only */
:root {
  --color-background: #f6efe6;
  --color-card: #fbf7f1;
  --color-primary: #203a47;
}

html, body, #root {
  height: 100%;
  background: var(--color-background);
  color: var(--color-primary);
}
